// 左右padding, 所以除2
$grid-gutter: $gutter-width / 2;

.container,
[class*='container-'] {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $grid-gutter;
}

.container-fluid {
  width: 100%;
}

@each $screen-size, $container-width in $container-max-widths {
  @if $screen-size == 'sm' {
    @include grid-sm {
      .container-#{screen-size} {
        max-width: $container-width;
      }
    }
  } @else if $screen-size == 'md' {
    @include grid-md {
      .container-#{screen-size} {
        max-width: $container-width;
      }
    }
  } @else if $screen-size == 'lg' {
    @include grid-lg {
      .container-#{screen-size} {
        max-width: $container-width;
      }
    }
  } @else if $screen-size == 'xl' {
    @include grid-xl {
      .container-#{screen-size} {
        max-width: $container-width;
      }
    }
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-gutter;
  margin-right: -$grid-gutter;
  &.no-gutters {
    margin-left: 0;
    margin-right: 0;
    > [class*='col-'],
    .col {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

[class*='col-'],
.col {
  flex: 0 0 100%;
  min-height: 1px;
  padding: 0 $grid-gutter;
  position: relative;
}

$screen-sizes: '', 'sm', 'md', 'lg', 'xl';
@each $screen-size in $screen-sizes {
  @for $i from 0 through $grid-columns {
    $column-width: (100% / $grid-columns) * $i;
    @if $screen-size == '' {
      @if $i > 0 {
        .order-#{$i} {
          order: $i;
        }
        .col-#{$i} {
          flex-basis: $column-width;
          max-width: $column-width;
        }
      }
      .offset-#{$i} {
        margin-left: $column-width;
      }
    } @else if $screen-size == 'sm' {
      @include grid-sm {
        @if $i > 0 {
          .order-#{$screen-size}-#{$i} {
            order: $i;
          }
          .col-#{$screen-size}-#{$i} {
            flex-basis: $column-width;
            max-width: $column-width;
          }
        }

        .offset-#{$screen-size}-#{$i} {
          margin-left: $column-width;
        }
      }
    } @else if $screen-size == 'md' {
      @include grid-md {
        @if $i > 0 {
          .order-#{$screen-size}-#{$i} {
            order: $i;
          }
          .col-#{$screen-size}-#{$i} {
            flex-basis: $column-width;
            max-width: $column-width;
          }
        }

        .offset-#{$screen-size}-#{$i} {
          margin-left: $column-width;
        }
      }
    } @else if $screen-size == 'lg' {
      @include grid-lg {
        @if $i > 0 {
          .order-#{$screen-size}-#{$i} {
            order: $i;
          }
          .col-#{$screen-size}-#{$i} {
            flex-basis: $column-width;
            max-width: $column-width;
          }
        }

        .offset-#{$screen-size}-#{$i} {
          margin-left: $column-width;
        }
      }
    } @else if $screen-size == 'xl' {
      @include grid-xl {
        @if $i > 0 {
          .order-#{$screen-size}-#{$i} {
            order: $i;
          }
          .col-#{$screen-size}-#{$i} {
            flex-basis: $column-width;
            max-width: $column-width;
          }
        }

        .offset-#{$screen-size}-#{$i} {
          margin-left: $column-width;
        }
      }
    }
  }
}
